In [1]:
import pandas as pd
import csv

data=pd.read_csv("spam.csv",encoding='latin-1')
data.shape

(5572, 5)

In [2]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [3]:
data.sample(5)
#picks sample at random

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN
5253,ham,Please tell me not all of my car keys are in y...,NaN,NaN,NaN
4878,ham,Yeah just open chat and click friend lists. Th...,NaN,NaN,NaN
5382,ham,"I can make it up there, squeezed &lt;#&gt; b...",NaN,NaN,NaN
5083,ham,Aiya we discuss later lar... Pick Ì_ up at 4 i...,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
data.isnull().any(axis=0)
#column-wise

v1            False
v2            False
Unnamed: 2     True
Unnamed: 3     True
Unnamed: 4     True
dtype: bool

In [6]:
data.isnull().any(axis=1)
#row-wise

0       True
1       True
2       True
3       True
4       True
        ...
5567    True
5568    True
5569    True
5570    True
5571    True
Length: 5572, dtype: bool

In [7]:
data.isnull().sum()
#shows total missing data

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

# Data Cleaning :

In [8]:
data.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)
data.shape

(5572, 2)

In [9]:
data.sample(5)

        v1                                                 v2
2734   ham   Can you do a mag meeting this avo at some point?
3959   ham  I sent lanre fakeye's Eckankar details to the ...
4748   ham  Thanx u darlin!im cool thanx. A few bday drink...
67    spam  Urgent UR awarded a complimentary trip to Euro...
4400   ham      Many times we lose our best ones bcoz we are

In [10]:
data['v1'].unique()

array(['ham', 'spam'], dtype=object)

In [11]:
data.rename(columns={"v1":"target","v2":"text"}, inplace=True)
data.sample(5)

     target                                               text
405     ham  Haha get used to driving to usf man, I know a ...
1228   spam  FREE entry into our å£250 weekly comp just sen...
3286    ham  The gas station is like a block away from my h...
829     ham  Thanks for yesterday sir. You have been wonder...
334    spam  Valentines Day Special! Win over å£1000 in our...

In [12]:
data['target'].value_counts()
#imbalanced data not good for models

ham     4825
spam     747
Name: target, dtype: int64

In [16]:
#convert categorical data to numeric vector
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['target']=encoder.

In [14]:
find out number of characters in each message

SyntaxError: invalid syntax (1673488026.py, line 1)